.ImgCartWidget {
  cursor: pointer;
  width: 35px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}
.ImgCartWidget:hover {
  transition: all 300ms;
  transform: scale(1.2);
}
.h5__color {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 16px;
  font-weight: lighter;
}
.h5__color:hover {
  transition: all 300ms;
  transform: scale(1.2);
}
