.card {
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.card-img-top {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.CardItem {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: inline-block;
    margin-left: 6rem;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.CardItem:hover {
    transition: all 500ms;
    transform: scale(1.1);
}
h2{
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    color: black;
}