.h3--size {
  text-align: center;
  font-size: 25px;
  margin: 8px;
}

.ImgCarritoBtn {
  cursor: pointer;
  width: 16px;
  height: auto;
}
.contador {
  display: flex;
  justify-content: center;
}

.carrito {
  display: flex;
  width: auto;
  justify-content: center;
}
.btn-outline-secondary{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  margin-top: 3px;
}
.btn-outline-success{
  box-shadow: 0 4px 8px 0 rgba(57, 168, 71, 0.9);
}
.btn-outline-danger{
  box-shadow: 0 4px 8px 0 rgb(253, 31, 31);
}